.chat-input {
  margin-top: 500px;
  .form-inline {
    justify-content: center;
    #message-chat-input {
      width: 500px;
    }
  }
}

.chat-boxes {
  .box {
    margin-bottom: 2%;
    img {
      max-width: 15%;
      border-radius: 50%;
    }
  }
}
